---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    <div class="content">
      {{ content }}
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</article>

<script>
  (function() {
    const correctPasscode = "110v3Safari"; // Replace with your actual passcode
    const pageContent = document.getElementById('content');

    function checkPasscode() {
      let passcode = prompt("Enter passcode:");

      if (passcode === correctPasscode) {
        pageContent.style.display = 'block'; // Show the content
      } else {
        alert("Incorrect passcode. Access denied.");
        // Optionally, redirect the user:
        window.location.href = "/";
      }
    }

    checkPasscode(); // Call the function immediately when the script runs
  })();
</script>